* {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

#navbarlogin::before {
    content: " ";
    position: absolute;
    background-color: #6fa5ec;
    height: 90%;
    width: 101%;
    z-index: -1;
    border-radius: 50px;
    margin: 4px 0 4px 0;
}

.mid {
    display: flex;
    font-size: 1.7rem;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4px;
    left: 8.4px;
}

#navbarlogin {
    position: absolute;
    top: 4px;
    left: 7px;
    width: 98vw;
    height: 35px;
    align-items: center;
}

#loginhome span a {
    text-decoration: none;
    padding: 2px 10px;
    color: black;
    transition: all 0.3s ease-out;
}

#loginhome span a:hover {
    background-color: black;
    color: #6fa5ec;
    border-radius: 20px;
}

#loginhome {
    display: flex;
    align-items: center;
    width: 250px;
    margin: 10px 20px;
    position: absolute;
    z-index: 200;
}

#loginthings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 60px;
    padding: 40px;
}

.logininput {
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.inputlogin {
    position: relative;
    top: 20px;
    width: 20vw;
    height: 4vh;
    border: none;
    background: none;
    border-bottom: 2px solid black;
    border-radius: 10px;
    padding: 0px;
    margin: 10px;
}

.inputlogin::placeholder {
    color: black;
    text-align: center;
}

#login {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
    background-color: #6fa5ec;
    border-radius: 20px;
    width: 15%;
    height: 30px;
    align-items: center;
}

#signup {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
    background-color: #6fa5ec;
    border-radius: 20px;
    width: 15%;
    height: 30px;
    align-items: center;
}

.btn a {
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-out;
    font-weight: bolder;
    font-size: 1.25 rem;
}

.btn a:hover {
    background-color: black;
    color: #6fa5ec;
    border-radius: 20px;
    padding: 3px 70px;
    font-size: 1.3rem;
}

#or {
    position: relative;
    top: 35px;
    font-size: 0.8rem;
}

#forgotpswd {
    font-size: 0.8rem;
    position: relative;
    top: 60px;
}